## Pandas 학습

### 데이터 통합 한번더

### merge
- 데이터를 합칠때 컬럼을 옆으로 늘려서 합침
- DataBase의 Join과 동일한 기능

In [1]:
import pandas as pd

In [6]:
# header : 엑셀에서 필요없는 제목줄 등 없애기
# skipfooter : 아래쪽에 필요없는 행동을 삭제
df_left  = pd.read_excel('../DAY01/data/sample_1.xlsx', header = 1, skipfooter=2, usecols='A:C')
df_left

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [8]:
df_right = pd.read_excel('../DAY01/data/sample_codemaster.xlsx')
df_right

  국적코드     국적명
0  A01      일본
1  A02      대만
2  A03      홍콩
3  A18      중국
4  A19      이란
5  A22  우즈베키스탄
6  A23   카자흐스탄
7  A99  아시아 기타

In [11]:
# 병합
df_total = pd.merge(left=df_left, right=df_right, 
                    how='inner', left_on='국적코드', right_on='국적코드')

In [13]:
# Nan : 난 국적코드가 무엇인지 모름
df_total

  국적코드  성별    입국객수 국적명
0  A01  남성  106320  일본
1  A01  여성  191436  일본
2  A18  남성  158912  중국
3  A18  여성  232943  중국

### append
- 데이터를 합칠때 데이터 수가 늘도록 합치는 방법
- DB에 UNION이라는 기능과 동일

In [ ]:
df_